@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

.slick-track {
  display: flex !important;
  gap: 2.5rem;
  align-items: center;
  /* Apply flex display to the track */
}

.slick-slide {
  opacity: 0.3;
}

.slick-center {
  opacity: 1;
}

.slick-center .slide-container {
  height: 423px !important;
  /* Height for the center slide */
  transition: height 0.3s ease-in-out;
  /* Smooth height transition */
}

.slick-slide:not(.slick-center) .slide-container {
  height: 389px !important;
  /* Smaller height for non-center slides */
  transition: height 0.3s ease-in-out;
  /* Smooth height transition */
}

/* Optional: You can adjust the width of the slides if needed */
.slick-slide {
  width: auto !important;
}