@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

img{
  max-width: 100%;
}
.slick-track {
  display: flex !important;  /* Apply flex display to the track */
  gap: 2.5rem;  /* Add gap between slides */
}

.slick-slide {
  opacity: 0.3;
}

.slick-center{
  opacity: 1;
}
